[submodule "imgui"]
	path = imgui
	url = git@github.com:ocornut/imgui.git
	branch = docking
[submodule "fftconv"]
	path = fftconv
	url = git@github.com:kwsp/fftconv.git
[submodule "implot"]
	path = implot
	url = git@github.com:epezent/implot.git
